/**
 * Moodle variables override
 *
 * Variables written for Moodle specific components
 *
 * Please do not override any Bootstrap variables here, custom Bootstrap variable should go in
 * preset files instead.
 */
$h5p-content-maxwidth: 990px !default;
$course-content-maxwidth: 990px !default;
$medium-content-maxwidth: 1120px !default;

$box-shadow-drawer-left: -0.25rem .25rem .8rem rgba(#333, .025) !default;
$box-shadow-drawer-right: 0 .25rem .8rem rgba(#333, .025) !default;

$drawer-top: 143px !default;
$drawer-width: 330px !default;
$drawer-padding-x: 20px !default;
$drawer-padding-y: 20px !default;
$drawer-offscreen-gutter: 20px !default;
$drawer-bg-color: #e0e0e0 !default;
$drawer-scroll-bg-track: #e0e0e0 !default;
$drawer-shadow-color: rgba(0, 0, 0, .25) !default;

$color_nhsuk-light-blue: #41B6E6;
$color_nhsuk-bright-blue: #0072CE;

