<div class="card dashboard-card {{^visible}}dimmed{{/visible}}" role="listitem" data-region="course-content" data-course-id="{{{id}}}">

    <div class="nhsuk-card nhsuk-card--clickable">
        <img class="nhsuk-card__img {{image.class}}" src="{{image.src}}" alt="{{image.alt}}">

        <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a href="{{courseurl}}" class="nhsuk-card__link" tabindex="-1">{{fullname}}</a>
            </h2>

            {{#hasenrolmenticons}}
                <div class="enrolmenticons">
                    {{#enrolmenticons}}
                        <div class="enrolmenticon">
                            {{{.}}}
                        </div>
                    {{/enrolmenticons}}
                </div>
            {{/hasenrolmenticons}}

            <p class="course-summary nhsuk-card__description">
                {{{summary}}}
            </p>

            <div class="card-body course-info-container">
                <div class="customfields">
                    {{{customfields}}}
                </div>

                <div class="course-category">
                    {{{category}}}
                </div>
            </div>

            {{#hasprogress}}
                <div class="d-flex align-items-start">
                    <div class="card-footer dashboard-card-footer border-0 bg-white w-100">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{{progress}}}" style="width: {{{progress}}}%" aria-valuemin="0" aria-valuemax="{{{progress}}}"></div>
                        </div>
                        <p class="mb-0">{{#str}}completepercent, block_myoverview, {{progress}}{{/str}}</p>
                    </div>
                </div>
            {{/hasprogress}}

            {{#hascontacts}}
                <div class="course-contacts">
                    {{#contacts}}
                        <div class="userpicture">
                           {{{userpicture}}}
                        </div>
                        <div class="info">
                            <p class="name">{{{fullname}}}</p>
                            <p class="role">{{{role}}}</p>
                        </div>
                    {{/contacts}}
                </div>
            {{/hascontacts}}

        </div>

    </div>

</div>
