{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" type="image/x-icon">
    <link rel="icon" href="{{{ output.favicon }}}" sizes="48x48">
    <link rel="icon" href="{{{ favicons.svg }}}" sizes="any" type="image/svg+xml">
    <link rel="mask-icon" href="{{{ favicons.mask }}}" color="#005eb8">
    <link rel="apple-touch-icon" href="{{{ favicons.apple-180 }}}" sizes="180x180">
    <link rel="manifest" href="{{{ manifest_url }}}">
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
</head>
