{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{#is_user_logged_in}} {{! This block will only be rendered if is_user_logged_in is true }}
<div class="nhsuk-account__login nhsuk-header__not-mobile">
    {{! Assuming dotnet_base_url is passed and correctly formatted with a trailing slash }}
    <a class="nhsuk-account__login--link" href="{{dotnet_base_url}}myaccount">My account</a>
    <a class="nhsuk-account__login--link" href="{{dotnet_base_url}}Home/Logout">Log out</a>
</div>
{{/is_user_logged_in}} {{! End of the conditional block }}



